* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0px auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin: auto;
}

/* header */

header, nav {
    padding: 30px;
    margin: 10px auto;
}

/* nav */

nav {
    
}

/* section */

.container {
    width: 960px;
    position: relative;
    min-height: 320px;
}

section, aside {
    height: 300px;
}

section {
    float: left;
    width: 59%;
    padding: 50px 30px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 30px;
    margin-top: 20px;
}

article h1, article p {
    margin: 10px auto;
    padding: 10px;
}

/* aside */

aside {
    position: absolute;
    right: 0;
    width: 40%;
    padding: 50px;
}


/* footer */

footer {
    width: 100%;
    padding: 30px;
    text-align: center;
}